NUL
k8s
now/hub/head_encoder/best_model_ndcg
now/hub/head_encoder/mean.bin
*.idea
*.png

data/
jina-now/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
build
jina_now.egg-info
dist
